@page
@model ESchool.IdentityProvider.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Jelszóváltoztatás";
    Layout = "_Layout";
}

<main class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 p-4 mdl-card mdl-shadow--8dp card-round">
            @if (!Model.ChangeSuccessful)
            {
                <h3>Jelszó visszaállítás</h3>
                <form method="post" class="w-100">
                    <input type="hidden" asp-for="ReturnUrl"/>

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input type="password" placeholder=" " asp-for="OldPassword" />
                                <span>Jelenlegi jelszó</span>
                            </label>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input type="password" placeholder=" " asp-for="Password" />
                                <span>Új jelszó</span>
                            </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input type="password" placeholder=" " asp-for="ConfirmPassword" />
                                <span>Jelszó megerősítése</span>
                            </label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-end mt-3">
                            <button name="action" value="cancel" class="poppins mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">Vissza</button>
                            <button name="action" value="change" class="poppins mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Jelszóváltoztatás</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="w-100 d-flex align-items-center flex-grow-1">
                    <span class="material-icons-outlined action-result-icon">
                        check
                    </span>
                    <div class="d-flex flex-column ml-4">
                        <h3>Sikeres jelszó változtatás!</h3>
                        <p>Mostantól az új jelszavaddal tudsz bejelentkezni a fiókodba.</p>
                        <form method="post" class="w-100">
                            <input type="hidden" asp-for="ReturnUrl"/>

                            <div class="d-flex justify-content-end">
                                <button name="action" value="finish" class="poppins mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Befejezés</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

