@page
@model ESchool.IdentityProvider.Pages.Account.GetPasswordResetModel
@{
    ViewData["Title"] = "Jelszó visszaállítás";
    Layout = "_Layout";
}

<main class="container vh-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 p-4 mdl-card mdl-shadow--8dp card-round">
            @if (!Model.SendSuccessful)
            {
                <h3>Jelszó visszaállítás</h3>
                <form method="post" class="w-100">
                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="row">
                        <div class="col-12">
                            <label class="pure-material-textfield-outlined w-100">
                                <input placeholder=" " asp-for="Email" />
                                <span>E-mail cím</span>
                            </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex @(string.IsNullOrEmpty(Model.ReturnUrl) ? "justify-content-end" : "justify-content-between")">
                            @if (!string.IsNullOrEmpty(Model.ReturnUrl))
                            {
                                <button name="action" value="cancel" class="poppins mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect">Vissza a bejelentkezéshez</button>
                            }
                            <button name="action" value="send" class="poppins mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Újraküldés</button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="w-100 d-flex align-items-center flex-grow-1">
                    <span class="material-icons-outlined action-result-icon">
                        mail
                    </span>
                    <div class="d-flex flex-column ml-4">
                        <h3>Sikeres e-mail küldés!</h3>
                        <p>A megadott e-mail címre sikeresen elküldtük a jelszó visszaállításához szükséges adatokat.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

